<div th:fragment="footerFragment" class="site-footer">
    <footer class="footer-pikafast">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <img th:src="@{/assets/img/logo.png}" width="140">
                </div>
                <div class="col-md-2">
                    <h6>Sobre Nosotros</h6>
                    <a href="#">Historia</a><a href="#">Misión</a><a href="#">Visión</a>
                </div>
                <div class="col-md-4">
                    <h6>Contacto</h6>
                    <p><i class="bi bi-telephone-fill me-2"></i> 999 999 886</p>
                    <p><i class="bi bi-geo-alt-fill me-2"></i> Av. San Bartolo 137 Huancayo</p>
                </div>
                <div class="col-md-3">
                    <h6>Preguntas Frecuentes</h6>
                    <a href="#">¿Cómo pedir?</a><a href="#">Política de Devoluciones</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-bottom-bar text-center">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span>CopyRight 2025 PIKAFAST all rights reserved</span>
            <div class="social-icons">
                <i class="bi bi-instagram"></i><i class="bi bi-facebook"></i><i class="bi bi-tiktok"></i>
            </div>
        </div>
    </div>
</div>
