<!DOCTYPE html>
<html lang="es" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Pikafast - Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
         <!-- CSS BootStrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
              crossorigin="anonymous">

        <!-- Iconos BootStrap -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- CSS Local -->
       <link rel="stylesheet" th:href="@{/css/dashboard.css}">
       <link rel="stylesheet" th:if="${pageStylesheet != null}" th:href="${pageStylesheet}">

        <!-- echarts -->
        <script src="https://cdn.jsdelivr.net/npm/echarts@6.1.0/dist/echarts.min.js"></script>
    </head>
    <body>
        <!-- Sidebar -->
        <th:block th:replace="~{admin/fragments/sidebar :: sidebarFragment}"></th:block>
        
        <!-- Contenido del Panel -->
        <th:block th:replace="~{${contentPage} :: dashboardContent}"></th:block>
        
        <!-- JS BootStrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
                crossorigin="anonymous">
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.toast').forEach(function (toastElement) {
                    bootstrap.Toast.getOrCreateInstance(toastElement).show();
                });
            });
        </script>
    </body>
</html>
